@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assets/bgnew.jpg'); Subtle matrix code background
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: smooth; */
  background: linear-gradient(135deg, #223b64, #302b63, #24243e);
  

  /* cursor: url('./assets/custom_cursor.png'),auto; */
}


.shadoweffect1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.scalebigger {
  /* transform: scale(1.1);
  transition: transform 200ms ease-in-out; */
  background-color: antiquewhite;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-bg {
  filter: brightness(50%); /* Darkens the video */
}

.animate-text-from-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.animate-text-from-left.visible {
  opacity: 1;
  transform: translateX(0%);
}


.animate-text-from-right{
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.animate-text-from-right.visible {
  opacity: 1;
  transform: translateX(0%);
}

.tab-title {
  display: inline-block;
  background-color: #ff00aa;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
}

.tab-title::before,
.tab-title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 32vw;
  height: 2px;
  background-color: #ff00aa;
}

.tab-title::before {
  left: -33vw;
}

.tab-title::after {
  right: -33vw;
} 
